
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
        


      

          <div class="container">
            <form method='POST'>
                <div class="mb-3">
                  <label for="title" class="form-label">My Todos</label>
                  <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="desc" class="form-label">Desctiption</label>
                  <input type="text" class="form-control" name="desc" id="desc">
                </div>
                 
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>

          <div class="container">
            
                    {% if allTodo|length == 0 %}
                      <div class="alert alert-info" role="alert">
                        please add a record
                      </div>
                        {% else %}
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">SNo</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">Actions</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                   
                        
                    {% for todo in  allTodo %}
                    <tr>
                      <th scope="row" >{{loop.index}}</th>
                      <td>{{todo.title}}</td>
                      <td>{{todo.desc}}</td>
                      <td>{{todo.date_created}}</td>
                      <td>
                        <a href="/delete/{{todo.sno}}" class="btn btn-outline-info">Delete</a>
                        <a href="/update/{{todo.sno}}" class="btn btn-outline-info">Update</a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %} 
                </tbody>
              </table>
          </div>
{% endblock body %}
