
{% extends 'base.html' %}
{% block title %}Update{% endblock title %}
{% block body %}


      

          <div class="container">
            <form action="/update/{{todo.sno}}" method='POST'>
                <div class="mb-3">
                  <label for="title" class="form-label">My Todos</label>
                  <input type="text" class="form-control" value="{{todo.title}}" name="title" id="title" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="desc" class="form-label">Desctiption</label>
                  <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="desc">
                </div>
                 
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>

         
           
{% endblock body %}
